<main class="main">
    <div class="coctail__info">
        <img src="/assets/images/<%= coctailImageFilename %>" alt="" width="500rem">
        <div class="coctail-items-text">
            <h2 class="coctail-title__item"><%= coctailName %></h2>
            <h3 class="coctail-ingredients__item">INGREDIENTS: <%= coctailIngredients %></h3>
            <h3 class="coctail-preparation__item">PREPARATION: <%= coctailPreparation %></h3>
            <a class="coctail-button" href="/<%= pageMainRouter %>">Back</a>
        </div>
    </div>
</main>